@keyframes appear {
  from { opacity: 0 }
  to   { opacity: 1; }
}

@keyframes wiggle {
  from {  filter: blur(0.4px); transform: translate(.35px, -.6px); }
  to   {filter: blur(0px); transform: translate(0, 0)}
}

#root {
  max-width: 70em;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}

main {
  animation: appear 0.5s;
}

.logo__link {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.logo__img { 
  max-width: 45em;
  width: 100%
}

.description {
  font-size: x-large;
  color: var(--grey);
  margin: 1em 0;
}

.loader {
  max-width: 20em;
  width: 100%;
  animation: appear 0.5s
}

.download__button {
  color: var(--grey);
  border: none;
  margin: 1em;
  font-size: x-large;
  background-color: transparent;
  cursor: pointer;
  animation: wiggle 0.4s linear infinite;


}


.download__button--regular:hover {
  color: black;
  text-decoration: underline;
  transform: scale(1.05);
 }

 .download__button:active, .download__button:focus {
  outline: none;
 }

 .download__button--loading {
  cursor: wait;
  color: var(--light-grey);
  text-decoration: none;
  font-size: large;
 }

 .download__button--downloaded {
  cursor: default;
  color: black;
  pointer-events: none;
 }

